<template name="nav">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">e-tags</a>
    <a href="#" data-activates="mobileMenu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><i class="material-icons left">home</i>{{_ "nav.home" }}</a></li>
      <li><a href="#"><i class="material-icons left">build</i>{{_ "nav.breakdowns" }}</a></li>
      <li><a href="#"><i class="material-icons left">assignment</i>{{_ "nav.workOrders" }}</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="usersDropdown"><i class="material-icons left">account_circle</i>{{_ "nav.users" }}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <ul class="side-nav" id="mobileMenu">
      <li><a href="#">{{_ "nav.home" }}</a></li>
      <li><a href="#">{{_ "nav.breakdowns" }}</a></li>
      <li><a href="#">{{_ "nav.users" }}</a></li>
      <li><a href="#">{{_ "nav.workOrders" }}</a></li>
    </ul>
  </div>

  <ul id="usersDropdown" class="dropdown-content">
    <li><a href="#!">Profile</a></li>
    <li><a href="#!">Manage Users</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout {{ username }}</a></li>
  </ul>
</template>
