<template name="editBreakdown">
  <form id="breakdown" class="card col s12 m12 l6 offset-l3 hoverable">
    <div class="card-content">
      <div class="row">
        <div class="input-field col s12">
          <input id="machine" type="text" name="machineId" class="validate valid" value="{{machineId}}">
          <label class="active" for="machine">{{_ "breakdowns.machineId"}}</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" name="description" class="materialize-textarea validate valid" value="{{description}}"></textarea>
          <label for="description" class="active">{{_ "breakdowns.description"}}</label>
        </div>
      </div>

      <div class="row">
        <div class="switch col s12">
          <span class="grey-text">{{_ "breakdowns.state"}}:</span>
          <label>
            Off
            <input id="state" name="state" type="checkbox" checked={{state}}>
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
    </div>

    <div class="card-action row right-align">
      <a class="waves-effect waves-light btn white-text" id="save">{{_ "breakdowns.save"}}</a>
    </div>
  </form>
</template>
